name: Rust
on:
    push:
        branches: ['**']
    pull_request:
        branches: ['**']
env:
    CARGO_TERM_COLOR: always

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: jwm
                    POSTGRES_PASSWORD: 1234
                    POSTGRES_DB: hctest
                ports:
                    - 5432:5432
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        steps:
            - uses: actions/checkout@v3
            - name: Build
              run: cargo build --verbose
            - name: Run tests
              run: cargo test --verbose

    tests-postgres:
        name: Test Postgres
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: jwm
                    POSTGRES_PASSWORD: 1234
                    POSTGRES_DB: gkvocabdb
                ports:
                    - 5432:5432
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        steps:
            - uses: actions/checkout@v3
            - name: Build
              run: cargo build --verbose
            - name: Run tests
              run: cargo test -pgkvocabdb --features "postgres" --verbose

    tests-sqlite:
        name: Test Sqlite
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Build
              run: cargo build --verbose
            - name: Run tests
              run: cargo test -pgkvocabdb --verbose

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  override: true
            - run: rustup component add clippy
            - uses: actions-rs/cargo@v1
              with:
                  command: clippy
                  args: --all-features --all-targets -- -D warnings

    fmt:
        name: Rustfmt
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  override: true
            - run: rustup component add rustfmt
            - uses: actions-rs/cargo@v1
              with:
                  command: fmt
                  args: --all -- --check

    eslint:
        name: Run eslint scanning
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install ESLint
              run: |
                  npm install eslint@8.35.0
                  npm install @microsoft/eslint-formatter-sarif@3.0.0
            - name: Run ESLint
              run: npx eslint .
                  --config .eslintrc.js
                  --ext .js,.html
